.bg-usac { background-color: #7d2027 !important; }
.text-usac { color: #7d2027 !important; }
.nav-link { color: white !important; }
.footer { background-color: #7d2027; color: white; padding: 20px 0; text-align: center; }

/* Ajuste para el slider */
.carousel-item img { height: 400px; object-fit: cover; }

/* Estilos para los bloques de información inferiores */
.info-block { color: white; padding: 40px 20px; min-height: 250px; }
.bg-light-gray { background-color: #d6d2d2; color: black; }
.bg-dark-gray { background-color: #555555; }
.bg-maroon { background-color: #7d2027; }
.bg-tan { background-color: #c2a385; }